# Odin build output
*.bin
example/example
*.exe
*.o
*.a
*.so
*.dylib

# Build directories
build/
out/

# Notes directory
notes/

# Generated atlas files
atlas.png
atlas.odin

# Content of input/output folders
input/*
output/*

# Finder
/.DS_Store
